/*.tecnique-detail__image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.technique-detail__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 calc(50% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

.technique-detail__image img {
  width: 100%;
  height: auto;
  display: block;
}*/
