.technique-detail__label {
  font-family: var(--font-family);
  font-size: var(--font-size-secondary);
  font-weight: 400;
  font-style: normal;
}

.technique-detail__text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: var(--font-size-tertiary);
}

.tecnique-detail__image-container {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}
