.position-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.position-detail__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 600px;
  overflow: hidden;
  margin-bottom: 10px
}

.position-detail__image-container img {
  width: 90vw;
  height: auto;
  object-fit: contain;

}
