.answerButton {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  background: #5b3f5d;
  border: none;
  max-width: 90vw;
  color: var(--text-color);
  font-size: 20px;
  padding: 15px;
  font-family: "Poppins";
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .answerButton {
    width: 500px;
  }
}

.answerButton__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
