.answerButton {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  background: #5b3f5d;
  border: none;
  max-width: 90vw;
  padding: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* font styles */
  font-size: var(--font-size-secondary);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  color: var(--text-color);
}

.answerButton:hover {
  background: #7a527e;
}

@media (min-width: 768px) {
  .answerButton {
    width: 500px;
  }
}

.answerButton__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
