.consultant {
  width: 90vw;
  padding: 20px;
}

.consultant__heading {
  font-size: 24px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
}

.consultant__text {
  font-size: var(--font-size-tertiary);
  padding-top: 20px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.consultant__link {
  color: #d87ab4;
  text-decoration: underline;
}

.consultant__link:hover {
  color: #c48bae;
  text-decoration: none;
}
