.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0px auto;
  gap: 8px;
  margin-top: 20px;
  font-family: var(--font-family);
  color: var(--text-color);
}

.infoHeader {
  font-size: var(--font-size-primary);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
}

@media (min-width: 768px) {
  .container_info {
    max-width: 600px;
    margin: 50px auto;
  }
}
