.positions__intro {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.positions__title {
  font-size: var(--font-size-primary);
}

.positions__text {
  margin-top: 20px;
}

.positions__text p {
  margin-bottom: 1em;
}

.positions__download-link {
  text-decoration: underline;
  margin-bottom: 10px;
}
