.positions__intro {
  width: 95vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.positions__title {
  font-size: var(--font-size-primary);
}

.positions__text {
  margin-top: 20px;
  font-size: var(--font-size-tertiary);
}

.positions__text p {
  margin-bottom: 1em;
}

.download-link {
  text-decoration: underline;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .positions__intro {
    max-width: 600px;
    margin: 50px auto;
  }

  .positions__list {
    max-width: 600px;
    margin: 0 auto;
  }
}
