.technique__container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  padding: 20px;
  gap: 10px;
  justify-content: center;
}

.tecnique__title {
  font-size: var(--font-size-primary);
}

.technique__list {
  font-size: var(--font-size-secondary);
}
