.answer {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  /* background: predavame v props */
  border: none;
  width: 90vw;
  padding: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--text-color);
  font-size: var(--font-size-secondary);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}

@media (min-width: 768px) {
  .answer {
    width: 500px;
  }
}

.answer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-shrink: 0;
}

.answer__content-icon {
  width: 20%;
  background-image: url("breastfeeding.png");
}

.bubble {
  background-image: url("/public/img/info-kojeni.png");
}

.answer__content-text {
  width: 80%;
  text-align: left;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
